<div class="header">
    <h3>{{course.courseName | uppercase }}</h3>
</div>
<div class="content">
    <div class="description">
        <label class="name">ID</label>
        <label class="value">{{course.id}}</label>
    </div>

    <div class="description">
        <label class="name">Duration</label>
        <label class="value">{{course.duration}}</label>
    </div>

    <div class="description">
        <label class="name">Fee</label>
        <label class="value">{{course.fee}}</label>
    </div>


    <div class="description">
        <label class="name">Start Date</label>
        <label class="value">{{course.startDate | date:"MMM/dd/yy"}}</label>
    </div>

    <div class="description">
        <label class="name">Total No. of Students</label>
        <label class="value">{{course.noOfStudents.length }}</label>
    </div>

</div>