@import 'variable';

form {
    &.active{
        .form-element{
            .ng-invalid{
                border: 1px solid $error; 
            }
        }
    }
    .form-element{
        width: 400px;
        margin: 10px;
        .name { 
            color: $primary-color;
            width: 150px;
            float: left;
        }
        .value{
           border: 1px solid  $shadow-color;
           border-radius: 3px;
           padding: 5px;
        }
    }
    .btn-set{
        margin: 5px;
        button{
            padding: 3px;
            margin: 10px;
            background: $primary-color; 
            color: $font-color; 
            border:1px solid $primary-color_1;
            font-size:18px;
            &.button-invert{
                color: $primary-color; 
                background: $font-color; 
            }
        }
    }
    
}