<!-- body content-->
<div class="body-container">
    <div class="user-data">
        <div class="card" >
          <div class="header">
            <h3>Courses in Course Cube <label class="badge">{{courseCubeList.length}}</label></h3>
          </div>
          <div class="content">
            <div class="description">
                <a class="a-invert" routerLink="/course-cube">Click here</a> to find the list of course availabel
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h3>List of Students<label class="badge">{{studentList.length}}</label></h3>
          </div>
          <div class="content">
            <div class="description">
              <a class="a-invert" routerLink="/student">Click here</a> to find the list of student availabel
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h3>List of Trainers</h3>
          </div>
          <div class="content">
            <div class="description">
              Clcik here to find the list of course availabel
            </div>
          </div>
        </div>
      </div>
  </div>
  