<!-- body content-->
<div class="body-container">
    <div class="user-data">
        <div class="card" routerLink="/course-cube" >
          <div class="header">
            <h3>List of availabel Course in Course Cube {{courseCubeList.length}}</h3>
          </div>
          <div class="content">
            <div class="description">
                <a class="a-invert" routerLink="/course-cube">Click here</a> to find the list of course availabel
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h3>List of Students</h3>
          </div>
          <div class="content">
            <div class="description">
              Clcik here to find the list of course availabel
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h3>List of Trainers</h3>
          </div>
          <div class="content">
            <div class="description">
              Clcik here to find the list of course availabel
            </div>
          </div>
        </div>
      </div>
  </div>
  